* {
  font-family: Arial, Helvetica, sans-serif;
}

.asset {
  color: white;
}

.top-border {
  background-color: #333a40;
}

.smallImg {
  object-fit: contain;
  height: 200px;
}

.image-description {
  object-fit: contain;
  width: 200px;
  height: 300px;
  padding-bottom: 2%;
}

.title-description {
  font-size: 1.7rem;
  padding-top: 2%;
}

.price-description {
  color:gray;
  padding-bottom: 1%;
}

.short-description {
  font-size: .8rem;
}

.long-description {
  font-size: .8rem;
}

.back-to-catalog {
  font-size: .8rem;
  color: gray;
}

.alignment{
  height: 350px;
}

.product {
  font-weight: 600;
}

.price {
  color: gray;
  font-size: .75rem;
  padding: 1%;
}

.description {
  font-size: .75rem;
}
