* {
  font-family: Arial, Helvetica, sans-serif;
}

.smallImg {
  object-fit: contain;
  height: 200px;
}

.image-description {
  object-fit: contain;
  width: 200px;
  height: 300px;
  padding-bottom: 2%;
}

.title-description {
  font-size: 1.7rem;
  padding-top: 2%;
}

.price-description {
  color:gray;
  padding-bottom: 1%;
}

.short-description {
  font-size: .8rem;
}

.long-description {
  font-size: .8rem;
}

.back-to-catalog {
  font-size: .8rem;
  color: gray;
}

.alignment{
  height: 350px;
}

.product {
  font-weight: 600;
}

.description {
  font-size: .75rem;
}

.media {
  width: 300px;
}

.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
